.category {
  color: #fff;
  text-transform: uppercase;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 375px) {
  .container {
    width: 100%;
    display: flex;
  }
}
